@media only screen and (min-width: 1440px) {
    .content {
        width: 1440px;
        display: flex;
    }

    .project-links-list {
        height: 452px;
        width: 5px;
        position: absolute;
        left: 65px;
        bottom: 155px;
    }

    .project-ul {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }

    .project-links,
    .project2-links {
        height: 140px;
        opacity: 0.4;
        width: 100%;
        background: #969696;
    }

    .project-links.active,
    .project2-links.active {
        background: #ffffff;
        border: none;
        opacity: 0.9;
    }

    .project-info {
        color: white;
        font-family: "Roboto", sans-serif;
        width: 720px;
        padding-left: 120px;
        padding-top: 70px;
    }

    .project-info h5 {
        font-size: 20px;
        font-weight: 100;
        padding: 5px 0 10px;
    }

    .project-info p {
        width: 645px;
    }

    .role-info {
        padding-top: 20px;
    }

    .role-info h5 {
        font-size: 16px;
        font-weight: 600;
        padding: 5px 0 0;
    }

    .role-info p {
        font-weight: 600;
        font-size: 14px;
    }

    .project-img {
        width: 497px;
        padding-top: 90px;
    }

    .project-img-GH {
        width: 497px;
        padding-top: 90px;
    }

    .project-img img {
        width: 100%;
    }

    .btn2 {
        position: absolute;
        bottom: 170px;
        left: 118px;
        width: 500px;
    }

    .btn2-mobile {
        display: none;
    }

    .btn-links-project {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        background: #ffffff;
        padding: 12.5px 57.5px;
        margin-right: 52px;
        border-radius: 20px;
    }

    .btn2-links-project {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        padding: 11.5px 62.5px;
        border-radius: 20px;
        border: 1px solid #ffffff;
    }
}

@media only screen and (min-width: 1920px) {
    .content {
        width: 1920px;
        display: flex;
    }

    .project-links-list {
        height: 452px;
        width: 5px;
        position: absolute;
        left: 180px;
        bottom: 275px;
    }

    .project-ul {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
    }

    .project-links,
    .project2-links {
        height: 140px;
        width: 100%;
        opacity: 0.4;
        background: #969696;
    }

    .project-links.active,
    .project2-links.active {
        background: #ffffff;
        border: none;
        opacity: 0.9;
    }

    .project-info {
        color: white;
        font-family: "Roboto", sans-serif;
        height: 400px;
        width: 720px;
        padding-left: 280px;
        padding-top: 133px;
    }

    .project-info h5 {
        font-size: 20px;
        font-weight: 100;
        padding: 5px 0 10px;
    }

    .project-info p {
        width: 645px;
    }

    .role-info {
        padding-top: 20px;
    }

    .role-info h5 {
        font-size: 16px;
        font-weight: 600;
    }

    .role-info p {
        padding: 0;
        font-weight: 600;
    }

    .project-img {
        width: 633px;
        padding-top: 90px;
        padding-left: 20px;
    }

    .project-img-GH {
        width: 633px;
        padding-top: 90px;
        padding-left: 20px;
    }

    .project-img img {
        width: 100%;
    }

    .btn2 {
        position: absolute;
        bottom: 289px;
        left: 280px;
        width: 500px;
    }

    .btn2-mobile {
        display: none;
    }

    .btn-links-project {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        background: #ffffff;
        padding: 12.5px 57.5px;
        margin-right: 52px;
        border-radius: 20px;
    }

    .btn2-links-project {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        padding: 11.5px 62.5px;
        border-radius: 20px;
        border: 1px solid #ffffff;
    }
}

@media only screen and (max-width: 500px) {
    hr {
        display: none;
    }

    .content {
        width: 414px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .project-links-list {
        height: 282px;
        width: 5px;
        position: absolute;
        left: 16px;
        bottom: 388px;
    }

    .project-ul {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
    }

    .project-links,
    .project2-links {
        height: 85px;
        width: 100%;
        opacity: 0.4;
        background: #969696;
    }

    .project-links.active,
    .project2-links.active {
        background: #ffffff;
        border: none;
        opacity: 0.9;
    }

    .project-info {
        color: white;
        font-family: "Roboto", sans-serif;
        width: 414px;
        padding-top: 40px;
    }

    .project-info h5 {
        font-size: 18px;
        font-weight: 100;
        padding: 10px 16px 10px;
    }

    .project-info p {
        font-size: 16px;
        padding: 0px 16px;
        line-height: 28px;
        font-weight: 300;
    }

    .role-info {
        padding-top: 20px;
        margin-bottom: 40px;
    }

    .role-info h5 {
        font-size: 16px;
        font-weight: 600;
    }

    .role-info p {
        font-size: 16px;
        padding: 0px 16px;
        line-height: 28px;
        font-weight: 600;
    }

    .project-img {
        width: 284px;
    }

    .project-img img {
        width: 100%;
    }

    .project-img-GH {
        width: 330px;
        padding-top: 10px;
    }

    .btn2 {
        display: none;
    }

    .btn2-mobile {
        width: 384px;
        margin-bottom: 20px;
        margin-left: 16px;
    }

    .btn-links-project {
        color: white;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        background: #ffffff;
        padding: 8.5px 40px;
        margin-right: 33px;
        border-radius: 20px;
    }

    .btn2-links-project {
        color: white;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        padding: 7.5px 45px;
        border-radius: 20px;
        border: 1px solid #ffffff;
    }
}
